<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DofOps</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-row flex-grow-1"></div>
    <div class="navbar-container flex-grow-0 collapse navbar-collapse px-3 gx-2 ms-auto" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/liste" routerLinkActive="active">Liste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestion" routerLinkActive="active">Gestion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
