<div class="form-container">
  <h2>Contact Us</h2>

  <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <app-form-input
                        [inputFormControlName]="'firstName'" [inputPlaceholder]="'First Name'"></app-form-input>
    <app-form-input [inputFormControlName]="'lastName'" [inputPlaceholder]="'Last Name'"></app-form-input>
    <app-form-input [inputFormControlName]="'age'" [inputPlaceholder]="'Age'" [type]="'number'"></app-form-input>
    <app-form-checkbox [checkboxLabel]="'No Email'" (toggle)="toggleEmailVisibility()"></app-form-checkbox>

    <app-form-input [inputFormControlName]="'email'" [inputPlaceholder]="'Email'" [type]="'email'"></app-form-input>

    <app-form-textarea [inputFormControlName]="'comment'" [inputPlaceholder]="'Comment'"></app-form-textarea>

    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
  </form>
</div>
