<div class="form-container">
  <h2>Contact Us</h2>

  <form (ngSubmit)="submitForm()" [formGroup]="contactForm">
    <app-form-input
      [errorMessages]="getErrorMessages('firstName')"
      formControlName="firstName"
      inputPlaceholder="First Name">
    </app-form-input>

    <app-form-input
      [errorMessages]="getErrorMessages('lastName')"
      formControlName="lastName"
      inputPlaceholder="Last Name">
    </app-form-input>

    <app-form-input
      [errorMessages]="getErrorMessages('age')"
      formControlName="age"
      inputPlaceholder="Age"
      type="number">
    </app-form-input>

    <app-form-checkbox
      (change)="toggleEmailVisibility()"
      checkboxLabel="No Email">
    </app-form-checkbox>

    <app-form-input
      *ngIf="!hideEmail"
      [errorMessages]="getErrorMessages('email')"
      formControlName="email"
      inputPlaceholder="Email"
      type="email">
    </app-form-input>

    <app-form-input
      [errorMessages]="getErrorMessages('comment')"
      [inputType]="'textarea'"
      formControlName="comment"
      inputPlaceholder="Comment">
    </app-form-input>

    <button
      [disabled]="contactForm.invalid"
      class="submit-button"
      type="submit">
      Submit
    </button>
    <button
      (click)="resetForm()"
      class="reset-button"
      type="button">
      Reset
    </button>
  </form>

  <div *ngIf="submissionMessage" class="alert alert-success mt-3">
    {{ submissionMessage }}
    <a (click)="goToGestionPage()" href="/gestion">Go to Gestion Page</a>
  </div>
</div>
