<div class="form-container">
  <h2>Contact Us</h2>

  <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <app-form-input
      formControlName="firstName"
      [errorMessages]="getErrorMessages('firstName')"
      inputPlaceholder="First Name">
    </app-form-input>

    <app-form-input
      formControlName="lastName"
      [errorMessages]="getErrorMessages('lastName')"
      inputPlaceholder="Last Name">
    </app-form-input>

    <app-form-input
      formControlName="age"
      type="number"
      [errorMessages]="getErrorMessages('age')"
      inputPlaceholder="Age">
    </app-form-input>

    <app-form-checkbox
      checkboxLabel="No Email"
      (change)="toggleEmailVisibility()">
    </app-form-checkbox>

    <app-form-input
      formControlName="email"
      type="email"
      [errorMessages]="getErrorMessages('email')"
      inputPlaceholder="Email">
    </app-form-input>

    <app-form-input
      formControlName="comment"
      [inputType]="'textarea'"
      [errorMessages]="getErrorMessages('comment')"
      inputPlaceholder="Comment">
    </app-form-input>

    <button
      type="submit"
      [disabled]="contactForm.invalid"
      class="submit-button">
      Submit
    </button>
  </form>
</div>
