.form-container {
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background: #f9f9f9;
  width: 800px;
  height: auto;
  min-height: 300px;
}

h2 {
  font-weight: bold;
}

button {
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

button[type="submit"] {
  background-color: #007bff;
}

button[type="submit"]:hover {
  background-color: #c6bd17;
}

.reset-button {
  background-color: #dc3545;
}

.reset-button:hover {
  background-color: #a71d2a;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.alert {
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
}

.alert-success {
  color: white;
  background-color: #28a745;
  border: 1px solid #28a745;
}
